/********** Template CSS **********/
:root {
  --primary: #009cff;
  --light: #f3f6f9;
  --dark: #191c24;
  --bs-primary: #191c24;
  --bs-text-primary: #3a3a3a;
  --bs-body-fontsize: .8rem;
}
/* Common CSS */
.pageLayout {display: flex;flex-direction: row;justify-content: space-between;height: 100vh;}
.headingPG {font-size: 1rem;font-weight: 600;color: #191c24;margin-bottom: .8rem;}
.card {border-color: #f1f2f3 !important;border-radius: 0.5rem;background-color: #fff;}
.btn.mybtn {background-color: #333333;border-color: #333333;color: #fff;font-size: 12px;font-weight: 500;}
.form-control {font-size: .8rem !important;padding: .4rem .5rem !important;}

.table {width: 100%;border-collapse: collapse;font-size: .8rem;}
.table thead {}
.table thead th {color: #525252;font-weight: 600 !important;}
.table tbody {}
.table tbody tr {}
.table tbody tr td {vertical-align: middle;padding: .3rem .5rem;}
.table tbody tr td .badge {font-weight: 500;}
.table tbody tr td .btn-group {}
.table tbody tr td .btn-group .btn-outline-primary {background-color: #F8F8F8;color: #333;border-color: #D1D1D1; padding: .3rem .5rem;font-size: .7rem;}

.table.dataTableUI {font-size: .8rem;}
.table.dataTableUI thead th, .table.dataTableUI td, table.dataTable.no-footer, table.dataTable.footer {border-color: #dee2e6;} 
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {font-size: .8rem;}
.dataTables_filter input  {border-radius: 15px !important;padding-block: 0;padding-inline: 0;border: 1px solid #ccc;outline: 0;padding: 4px 8px !important;}
.dataTables_length select {border-radius: 15px !important;padding-block: 0;padding-inline: 0;border: 1px solid #ccc;outline: 0;padding: 3px 5px !important;}
table.dataTable thead th, table.dataTable tfoot th {font-weight: 600;}




.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  transition: 0.5s;
  font-size: 12px;
}

.btn-primary {
  color: #fff;
  background-color: #2a2a2a;
  border-color: #2a2a2a;
}

.btn-primary:hover {
  background-color: #000;
  border-color: #2a2a2a;
}

.btn.btn-primary {
  color: #ffffff;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 50px;
}

/*** Layout ***/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 100vh;
  overflow-y: auto;
  background: var(--light);
  transition: 0.5s;
  z-index: 999;
}

.content {
  /* margin-left: 250px; */
  /* min-height: 100vh; */
  /* background: #FFFFFF; */
  /* transition: 0.5s; */
  width: 100%;
}

/* @media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
} */

/* @media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
} */

/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
  padding: 7px 20px;
  color: var(--dark);
  font-weight: 500;
  border-left: 3px solid var(--light);
  border-radius: 0 30px 30px 0;
  outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
  color: var(--primary);
  background: #ffffff;
  border-color: var(--primary);
}

.sidebar .navbar .navbar-nav .nav-link i {
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
  background: var(--light);
}

.sidebar .navbar .dropdown-toggle::after {
  position: absolute;
  top: 9px;
  right: 44px;
  border: none;
  content: "\f107";
  font-family: "Font Awesome 6 Free";

  font-weight: 900;
  transition: 0.5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded="true"]::after {
  transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
  padding-left: 5px;
  /* border-radius: 0 30px 30px 0; */
  border: none !important;
}

.content .navbar .navbar-nav .nav-link {
  margin-left: 25px;
  padding: 12px 0;
  color: var(--dark);
  outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
  color: var(--primary);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 40px;
}

.content .navbar .dropdown-toggle::after {
  margin-left: 6px;
  vertical-align: middle;
  border: none;
  content: "\f107";
  font-family: "Font Awesome 6 Free";

  font-weight: 900;
  transition: 0.5s;
}

.content .navbar .dropdown-toggle[aria-expanded="true"]::after {
  transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
  .content .navbar .navbar-nav .nav-link {
    margin-left: 15px;
  }
}

/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
  top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
  border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
  font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  padding: 10px;
  /* border-radius: 5px; */
  border: none !important;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
  background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
  border-bottom-color: var(--primary);
}

/*** Testimonial ***/
.progress .progress-bar {
  width: 0px;
  transition: 2s;
}

/*** Testimonial ***/
.testimonial-carousel .owl-dots {
  margin-top: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border: 5px solid var(--primary);
  border-radius: 15px;
  transition: 0.5s;
}

.testimonial-carousel .owl-dot.active {
  background: var(--dark);
  border-color: var(--primary);
}

body {
  font-family: "Poppins", sans-serif !important;
}

html {
  /* font-size: 12px; */
  font-family: "Poppins", sans-serif !important;
}

.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > thead
  > tr
  > th {
  padding: 5px 10px;
}

.ant-table-content > table > tbody > tr > td {
  padding: 5px 10px;
}

.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-content
  > table
  > tbody
  > tr
  > td {
  padding: 5px 10px;
  color: var(--bs-text-primary);
  font-size: var(--bs-body-fontsize);
}

.bg-unpublished {
  background-color: #eaeaea;
  border-radius: 19px;
  color: black;
}

.bg-cancelled {
  background-color: #ffb276;
  border-radius: 19px;
  color: black;
}

.bg-confirmed {
  background-color: #b8ffd3;
  border: 1px solid #b8ffd3;
  border-radius: 19px;
}

#root {
  width: 100%;
  margin: 0 0;
  padding: 0 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 0;
}

.read-the-docs {
  color: #888;
}

.table::-webkit-scrollbar {
  width: 8px;
}

.table::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.table::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.table::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.main-sidebar a i {
  font-size: 1.75rem !important;
  margin-right: 10px;
}

.custom-drop-menu {
  background-color: white !important;
  border-radius: 10px !important;
  border: none !important;
  padding: 4px !important;
}

.custom-drop-item {
  padding: 12px !important;
  font-size: 12px !important;
}

.custom-drop-item:hover {
  background-color: #e0e0e0 !important;
  border-radius: 9px !important;
}

.dash-profile-container {
  flex: 1;
  padding: 1rem;
  background-color: #f8f8f8;
}

.dash-sidebar-container {
  width: 260px !important; /* Adjust width as needed */
  min-height: 100vh; /* Full height */
  padding: 19px;
  background: #ffffff; /* Optional background */
  border-right: 1px solid #ffffff; /* Light border for separation */
}

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  /* display: none; */
}

/* For Firefox */
html {
  /* scrollbar-width: none; */
}

/* For IE, Edge */
body {
  /* -ms-overflow-style: none; */
}

.dash-sidebar-link {
  display: flex;
  align-items: center;
  /* border-radius: 8px; */
  color: #778da2;
  text-decoration: none;
  /* position: relative; */
  margin-bottom: 5px;
  margin-left: 12px;
  /* height: 40px; */
  transition: color 0.3s ease;
  overflow: hidden;
}

.dash-sidebar-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #f8f8f8;
  transition: height 0.5s ease-in-out;
  z-index: -1;
}

.dash-active-link {
  background-color: #f8f8f8 !important;
  color: black !important;
  font-weight: 600 !important;
  width: calc(100% + 12px) !important;
  margin-left: 0px !important;
  /* padding-left: 15px !important; */
  position: relative;
  padding-right: 9px !important;border-radius: 8px;
}
.dash-active-link .dash-sidebar-link {  color: #333333 !important;}
.dash-active-link::before {
  height: 100%;
}

.dash-sidebar-link img {
  transition: filter 0.1s ease;
}
.dash-sidebar-link .menuIconA  {
  width: 18px;
  /* height: 20px; */
  margin-right: 10px;
  font-size: 15px;
}

/* Removes the border around the entire dropdown menu */
.dash-drop-menu {
    border: none !important;
    /* box-shadow: none !important;  */
    background-color: white !important;
    
  }
  .dropdown-menu.dash-drop-menu {padding: 0;}
/* Removes any borders from dropdown items */
.dash-drop-menu .dash-drop-item {
    border: none !important;
    padding: 8px 12px !important;
    background-color: transparent !important;
    margin-left: 30px;
    margin-bottom: 0px; font-size: 13px;
  }

/* Ensures no border appears when hovering */
/* .dash-drop-menu .dash-drop-item:hover,
  .dash-drop-menu .dash-drop-item:focus {
    background-color: #f8f8f8 !important;
    border: none !important;
    outline: none !important;
  } */

/* Ensures no focus border on dropdown button */
/* .dropdown-toggle:focus,
.dropdown-toggle:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
} */

.dropdown-item-text {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 11px;
  font-weight: 500;
}

.bullet {
  width: 8px;
  height: 8px;
}

/* Active State */
.active-item {
  color: #008ab4 !important;
}

.active-item .bullet {
  background: #008ab4 !important;
}

/* Inactive State */
.inactive-item {
  color: #b0b0b0 !important;
}

.inactive-item .bullet {
  background: #b0b0b0 !important;
}

.event-form {
  background: white !important;
  border-radius: 10px !important;
  padding: 1px;
}

.event-form .submit-btn-container {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 12px;
}

.submit-btn-container button {
  font-size: 12px;
}

.total-user {
  background: #ebf5ff !important;
  border-radius: 7px !important;
  height: 103px !important;
}

.total-bookings {
  background: #f4edff !important;
  border-radius: 7px !important;
  height: 103px !important;
}

.total-entertainers {
  background: #e9fffa !important;
  border-radius: 7px !important;
  height: 103px !important;
}

.total-venues {
  background: #fff4ee !important;
  border-radius: 7px !important;
  height: 103px !important;
}

.event-details {
  background: #fafafa;
  border-radius: 8px;
}

.revenue-earning {
  width: 670px;
  height: 271px;
}

.custom-form-event {
  top: 269px;
  /* left: 293px; */
  width: 510px;
  height: 45px;
  background: #ffffff;
  border: 0.5px solid #000000;
  border-radius: 5px;
  opacity: 1;
}

.dashSearchBar {
  top: 94px;
  left: 985px;
  width: 361px;
  height: 41px;
  border: 1px solid #c2ccd666;
  border-radius: 6px;
  opacity: 1;
}

.custom-select {
  appearance: none; /* Ensures custom styling without removing arrow */
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='black'><path d='M5 7l5 5 5-5H5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0.5rem center; /* Moves the arrow */
  background-size: 16px;

  padding-right: 2rem; /* Ensures text does not overlap with arrow */
}

.custom-date {
  appearance: none; /* Ensures custom styling without removing arrow */
  -webkit-appearance: none;
  -moz-appearance: none;

  /* background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='black'><path d='M5 7l5 5 5-5H5z'/></svg>"); */
  background-repeat: no-repeat;
  background-position: right 0.2rem center; /* Moves the arrow */
  background-size: 16px;

  padding-right: 1rem; /* Ensures text does not overlap with arrow */
}

.custom-user-modal {
  margin-left: 50px !important;
  margin-right: 30px !important;
  border-radius: 10px !important;
  padding: 15px !important;
  width: 896px !important;
}

.dropdown-arrow {
  width: 10px;
  height: 8px;
  margin-right: 8px;
  margin-top: -3px;
  transition: transform 0.3s ease;
}

.custom-booking-highlight::before {
  top: 217px;
  left: -65px;
  width: 4px;
  height: 42px;
  background: #845FD7 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
}
.mobileMenuToggler {
  display: none;
}





/* ---------- CSS Media Queries---------- */
/* ##Device = Desktops, ##Screen = 1281px to higher resolution desktops */
@media (min-width:1281px){ 
 }
 /* ##Device = Laptops, Desktops, ##Screen = B/w 1025px to 1280px */
 @media (min-width:1025px) and (max-width:1280px){ 
 }
 /* ##Device = Tablets, Ipads (portrait), ##Screen = B/w 768px to 1024px */
 @media (min-width:768px) and (max-width:1024px){ 
 }
 /* ##Device = Tablets, Ipads (landscape), ##Screen = B/w 768px to 1024px */
 @media (min-width:768px) and (max-width:1024px) and (orientation:landscape){ 
 }
 /* ##Device = Low Resolution Tablets, Mobiles (Landscape), ##Screen = B/w 481px to 767px */
 @media (min-width:481px) and (max-width:767px){ 
 }
 /* ##Device = Most of the Smartphones Mobiles (Portrait), ##Screen = B/w 320px to 479px */
 @media (min-width:320px) and (max-width:480px){
  nav .logoMain {height: 30px;}
  .mobileMenuToggler {display: inline;color: #000;margin-right: 10px;}
  .dash-sidebar-container {display: none;}
  .dash-sidebar-container.show {display: inline;}
  .dash-sidebar-container.hide {display: none;}
 }